<%- model_class = Question -%>
<div class="container">
    <div class="row">
    <div id="tag_cloud">
    <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      (<%= tag.count %>)
    <% end %>
    </div>
  </div>

  <div class="page-header">
    <h1>Questions</h1>
  <!--  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1> -->
  <p>Currently selected Quiz: <%= @quizz %></p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= User %></th>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:question) %></th>
        <th><%= model_class.human_attribute_name(:corr) %></th>
        <th><%= model_class.human_attribute_name(:ans1) %></th>
        <th><%= model_class.human_attribute_name(:ans2) %></th>
        <th><%= model_class.human_attribute_name(:ans3) %></th>
        <th><%= model_class.human_attribute_name(:ans4) %></th>
        <th><%= model_class.human_attribute_name(:diff) %></th>
        <th><%= model_class.human_attribute_name(:is_approved) %></th>
        <th>Tags</th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= image_tag question.user.try(:image) || 'No User' %></td>
          <td><%= link_to question.id, question_path(question) %></td>
          <td><%= question.question %></td>
          <td><%= question.corr %></td>
          <td><%= question.ans1 %></td>
          <td><%= question.ans2 %></td>
          <td><%= question.ans3 %></td>
          <td><%= question.ans4 %></td>
          <td><%= question.diff %></td>
          <td><% if question.is_approved? %>
            <i class="glyphicon glyphicon-ok"</i>
            <% else %>
            <i class="glyphicon glyphicon-remove"</i>
            <% end %>
          </td>
          <td><%= raw question.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
          <td><%=l question.created_at %></td>
          <td>
            <%= link_to edit_question_path(question), class: "btn btn-xs btn-default" do %>
            <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
            <%= link_to question_path(question),
                        :method => :delete,
                        :data => { :confirm => 'Are you sure you want to delete this question?' },
                        :class => 'btn btn-xs btn-danger' do %>
                        <i class="glyphicon glyphicon-trash"></i>
                        <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_question_path,
              :class => 'btn btn-primary' %>
</div>