<h1>Tracked Articles</h1>

<table class="table table-striped">
  <tbody>
    <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>URL</th>
        <th> <i class="fa fa-thumbs-o-up fa-1x"></i> shares</th>
        <th> <i class="fa fa-twitter fa-1x"></i> tweets</th>
        <th> <i class="fa fa-link fa-1x"></i> links</th>
        <th> <i class="fa fa-link fa-1x"></i> URDs</th>
        <th>Tags</th>
        <th>Created</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.id, article_path(article) %></td>
        <td><%= truncate(article.title) %></td>
        <td><%= truncate(article.url) %></td>
        <td><%= article.fb_shares %></td>
        <td><%= article.twitter_shares %></td>
        <td><%= article.maj_fresh_links %></td>
        <td><%= article.maj_fresh_urds %></td>
        <td><%= raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%= time_ago_in_words(article.created_at) %> ago</td>
        <td>
          <%= link_to edit_article_path(article), class: "btn btn-xs btn-default" do %>
            <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          <%= link_to article_path(article),
                        :method => :delete,
                        :data => { :confirm => 'Are you sure you want to delete this article?' },
                        :class => 'btn btn-xs btn-danger' do %>
                          <i class="glyphicon glyphicon-trash"></i>
                        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
