<div class="row col-md-8">
  <h2>Tracked metrics</h2>
</div>

<div class="container">
  <div class="row col-md-8 index-header">
    <h4>Total Metrics: <%= Metric.count %></h4>
    <h4>Today's Metric Count: <%= Metric.where(date:Date.today).count %></h4>
  </div>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Date</th>
      <th>FB Likes</th>
      <th>Tweets</th>
      <th>Following</th>
      <th>Followers</th>
      <th>Updated</th>
      <th></th>
    <tr>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= link_to metric.id, metric_path(metric) %></td>
        <td><%= metric.brand.name %></td>
        <td><%= metric.date.to_formatted_s(:rfc822) %></td>
        <td><%= metric.fb_likes %></td>
        <td><%= metric.tweets %></td>
        <td><%= metric.following %></td>
        <td><%= metric.followers %></td>
        <td><%= time_ago_in_words(metric.updated_at) %> ago</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_metric_path(metric), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      metric_path(metric),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to delete this metric?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New metric', new_metric_path %>
