<%- model_class = User -%>

<div class="page-header">
  <h1>Users</h1>
<!--  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1> -->
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:password) %></th>
      <th>Unblocked</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <% if user.avatar_file_name? %>
          <td><%= image_tag user.avatar.url(:thumb) %></td>
        <% else %>
          <td><%= image_tag gravatar_for(user) %></td>
        <% end %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><% if !user.is_blocked? %>
          <i class="glyphicon glyphicon-ok"</i>
          <% else %>
          <i class="glyphicon glyphicon-remove"</i>
          <% end %>
        </td>
        <td><%=l user.created_at %></td>
        <td>
          <%= link_to edit_user_path(user), class: "btn btn-xs btn-default" do %>
          <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to user_path(user),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure you want to delete this user?' },
                      :class => 'btn btn-xs btn-danger' do %>
                      <i class="glyphicon glyphicon-trash"></i>
                      <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>