<%= simple_form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :total_users %><br>
    <%= f.number_field :total_users %>
  </div>
  <div class="field">
    <%= f.label :salesforce_id %><br>
    <%= f.text_field :salesforce_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
