/* line 5, /Users/mattotoole/Documents/Programming/workspace/quiz/app/assets/stylesheets/brands.css.scss */
#hex1, #hex2, #hex3 {
  width: 24px;
  height: 24px;
  border: 1px dotted grey;
  opacity: 1;
  float: left;
  margin-right: 1px;
}
