/* line 5, /Users/mattotoole/Documents/programming/workspace/quiz/app/assets/stylesheets/questions.css.scss */
#tag_cloud {
  border: 1px grey dotted;
  padding: 5px;
  line-height: 1.6em;
}
/* line 9, /Users/mattotoole/Documents/programming/workspace/quiz/app/assets/stylesheets/questions.css.scss */
#tag_cloud .s {
  font-weight: light;
  background-color: yellow;
  color: black;
}
/* line 10, /Users/mattotoole/Documents/programming/workspace/quiz/app/assets/stylesheets/questions.css.scss */
#tag_cloud .m {
  font-weight: normal;
  background-color: black;
  color: white;
}
/* line 11, /Users/mattotoole/Documents/programming/workspace/quiz/app/assets/stylesheets/questions.css.scss */
#tag_cloud .l {
  font-weight: bold;
  background-color: blue;
  color: white;
}
