/* line 5, /Users/mattotoole/Documents/Programming/workspace/quiz/app/assets/stylesheets/quizzs.css.scss */
.btn-primary {
  background-color: #87BB17;
  color: #FFFFFF;
}

/* line 10, /Users/mattotoole/Documents/Programming/workspace/quiz/app/assets/stylesheets/quizzs.css.scss */
a {
  text-decoration: none;
}
