<%= form_for @quizz, :html => { :class => "form-horizontal quizz" } do |f| %>

    <% if @quizz.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@quizz.errors.count, "error") %> prohibited this quizz from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @quizz.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :tag_list, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'form-control' %>
    </div>
    <%= error_span(@quizz[:quizz]) %>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%= error_span(@quizz[:author]) %>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@quizz[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@quizz[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :question_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question_total, :class => 'form-control' %>
    </div>
    <%= error_span(@quizz[:question_total]) %>
  </div>
  <div class="control-group">
    <%= f.label :overall_rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :overall_rating, :class => 'form-control' %>
    </div>
    <%= error_span(@quizz[:overall_rating]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            quizzs_path, :class => 'btn btn-default' %>

<% end %>
