<%- model_class = Quizz -%>
<div class="page-header">
  <h1>Quizzes</h1>
  <div class="row">
    <div id="tag_cloud">
    <% tag_cloud Quizz.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      (<%= tag.count %>)
    <% end %>
    </div>
</div></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:question_total) %></th>
      <th><%= model_class.human_attribute_name(:overall_rating) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @quizzs.each do |quizz| %>
      <tr>
        <td><%= link_to quizz.id, quizz_path(quizz) %></td>
        <td><%= quizz.author %></td>
        <td><%= quizz.title %></td>
        <td><%= quizz.description %></td>
        <td><%= quizz.questions.count %></td>
        <td><%= quizz.overall_rating %></td>
        <td><%= raw quizz.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%=l quizz.created_at %></td>
        <td>
          <%= link_to edit_quizz_path(quizz), class: "btn btn-xs btn-default" do %>
          <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to quizz_path(quizz),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure you want to delete this quiz?' },
                      :class => 'btn btn-xs btn-danger' do %>
                      <i class="glyphicon glyphicon-trash"></i>
                      <% end %>
        <%= link_to select_questions_quizz_path(quizz), class: "btn btn-xs btn-default" do %>
          <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_quizz_path,
            :class => 'btn btn-primary' %>
