// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hex1, #hex2, #hex3 {
	width: 24px;
	height: 24px;
	border: 1px dotted grey;
	opacity: 1;
	float: left;
	margin-right: 1px;
	background-color: #fff;
}

#stadia {
	opacity: 0.5;
	animation: fadeIn 1.5s;
}

.panel-facebook {
	background-color: #3b5998;
	color: white;
}

.panel-twitter {
	background-color: #3eacd1;
	color: white;
}

.panel-googleplus {
	background-color: #dc4a3d;
	color: white;
}

.glyphicon-thumbs-up {
	font-size: 50px;
	color: white;
}

