// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
	border: 1px grey dotted;
	padding: 5px;
  line-height: 1.6em;
  .s { font-weight: light; background-color: yellow; color: black; }
  .m { font-weight: normal; background-color: black; color: white; }
  .l { font-weight: bold; background-color: blue; color: white; }
}