// Place all the styles related to the quizzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary {
	background-color: #87BB17;
	color: #FFFFFF;
}

a {
	text-decoration: none;
}