<%= simple_form_for @brand, html: { multipart: true } do |form| %>
    <%= form.label :name %><br />
	<%= form.text_field :name %><br />

	<%= form.input :logo, as: :file %></br />
	<%= form.input :bg_image, as: :file %></br />
    <%= form.label :website %><br />
	<%= form.text_field :website %></br />
    <%= form.label :facebook_url %><br />
	<%= form.text_field :facebook_url %></br />
    <%= form.label "Twitter name" %><br />
	<%= form.text_field :twitter_url %></br />
    <%= form.label :youtube_url %><br />
	<%= form.text_field :youtube_url %></br />
    <%= form.label :pinterest_url %><br />
	<%= form.text_field :pinterest_url %></br />
    <%= form.label :flickr_url %><br />
	<%= form.text_field :flickr_url %></br />
    <%= form.label :instagram_url %><br />
	<%= form.text_field :instagram_url %></br />
    <%= form.label :linkedin_url %><br />
	<%= form.text_field :linkedin_url %><br />
    <%= form.label :sport %><br />
	<%= form.text_field :sport %><br />
    <%= form.label :league %><br />
	<%= form.text_field :league %><br />
    <%= form.label :wikipedia_url %><br />
	<%= form.text_field :wikipedia_url %><br />
    <%= form.label :stadium %><br />
	<%= form.text_field :stadium %><br />
    <%= form.label "stadium latitude" %><br />
	<%= form.text_field :lat %><br />
    <%= form.label "stadium longitude" %><br />
	<%= form.text_field :long %><br />
    <%= form.label :stadium_capacity %><br />
	<%= form.text_field :stadium_capacity %><br />
    <%= form.label "Primary Brand Colour" %><br />
	<%= form.text_field :hex1 %><br />
    <%= form.label "Secondary Brand Colour" %><br />
	<%= form.text_field :hex2 %><br />
    <%= form.label "Tertiary Brand Colour" %><br />
	<%= form.text_field :hex3 %><br />
<br/ >
	<%= form.submit %>
<% end %>