<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="container">
  <div class="row">
  <strong>TRACKED BRANDS</strong>
  </div>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Logo</th>
      <th></th>
      <th>Brand</th>
      <th>Sport</th>
      <th>League</th>
      <th>Country</th>
      <th>Stadium</th>
      <th>Capacity</th>
      <th>Social Media</th>
<!--      <th>Updated</th> -->
      <th>Edit/Del</th>
    </tr>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.id, brand_path(brand) %></td>
        <td><%= image_tag brand.logo(:thumb) %></td>
        <% if brand.gender == "F" %>
          <td><i class="fa fa-female fa-2x"></i></td> 
        <% else %>
          <td><i class="fa fa-male fa-2x"></i></td>
        <% end %>
        <td><%= brand.name %></td>
        <% if brand.sport != "Football" %>
          <td><%= brand.sport %></td> 
        <% else %>
          <td><i class="fa fa-soccer-ball-o fa-2x"></i></td>
        <% end %>
        <td><%= image_tag "football/LeagueLogos/thumbs/#{brand.league}.png"%></td>
        <td><%= image_tag "flags/#{brand.country}.png" %></td>
        <td><%= brand.stadium%></td>
        <td><%= brand.stadium_capacity %></td>
        <td>
              <% if brand.website? %>
                  <%= link_to (image_tag "logos/internet.png"), brand.website %>
              <% end %>
              <% if brand.facebook_url? %>
                  <%= link_to (image_tag "logos/facebooklogo.png"), brand.facebook_url %>
              <% end %>
              <% if brand.myspace_url? %>
                  <%= link_to (image_tag "logos/myspacelogo.png"), brand.myspace_url %>
              <% end %>
              <% if brand.twitter_url? %>
                  <%= link_to (image_tag "logos/twitterlogo.png"), brand.twitter_url %>
              <% end %>
              <% if brand.youtube_url? %>
                  <%= link_to (image_tag "logos/youtubelogo.png"), brand.youtube_url %>
              <% end %>
              <% if brand.vine_url? %>
                  <%= link_to (image_tag "logos/vinelogo.png"), brand.vine_url %>
              <% end %>
              <% if brand.google_plus? %>
                  <%= link_to (image_tag "logos/googlepluslogo.png"), brand.google_plus %>
              <% end %>
              <% if brand.instagram_url? %>
                  <%= link_to (image_tag "logos/instagramlogo.png"), brand.instagram_url %>
              <% end %>
              <% if brand.flickr_url? %>
                  <%= link_to (image_tag "logos/flickrlogo.png"), brand.flickr_url %>
              <% end %>
              <% if brand.tumblr_url? %>
                  <%= link_to (image_tag "logos/tumblrlogo.png"), brand.tumblr_url %>
              <% end %>
              <% if brand.snapchat_url? %>
                  <%= link_to (image_tag "logos/snapchatlogo.png"), brand.linkedin_url %>
              <% end %>               
              <% if brand.foursquare_url? %>
                  <%= link_to (image_tag "logos/Foursquarelogo.png"), brand.linkedin_url %>
              <% end %>               
              <% if brand.pinterest_url? %>
                  <%= link_to (image_tag "logos/pinterestlogo.png"), brand.pinterest_url %>
              <% end %>
              <% if brand.linkedin_url? %>
                  <%= link_to (image_tag "logos/linkedinlogo.png"), brand.linkedin_url %>
              <% end %>               
              <% if brand.vimeo_url? %>
                  <%= link_to (image_tag "logos/vimeologo.png"), brand.linkedin_url %>
              <% end %>               
              <% if brand.dailymotion_url? %>
                  <%= link_to (image_tag "logos/dailymotionlogo.png"), brand.linkedin_url %>
              <% end %>               
              <% if brand.wikipedia_url? %>
                  <%= link_to (image_tag "logos/wikipedialogo.png"), brand.wikipedia_url %>
              <% end %>
        </td>
<!--        <td><%= time_ago_in_words(brand.created_at, ) %> ago</td> -->
        <td>
          <%= link_to edit_brand_path(brand), class: "btn btn-xs btn-default" do %>
          <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to brand_path(brand),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure you want to delete this brand?' },
                      :class => 'btn btn-xs btn-danger' do %>
                      <i class="glyphicon glyphicon-trash"></i>
                      <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New brand', new_brand_path %>

<h3>Imports More Brands</h3>
<%= form_tag import_brands_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag :import %>
<% end %>
