<div class ="container">

<h1><%= @brand.name %></h1>

  <div class="row">
    <div class="col-lg-3 col-md-12">
      <div class="panel panel-facebook">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-thumbs-o-up fa-4x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @brand.metrics.where("fb_likes is NOT NULL").last %></div>
              <div>Likes</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="panel panel-twitter">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-twitter fa-4x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @brand.metrics.where("followers is NOT NULL").last.followers %></div>
              <div>Followers</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="panel panel-googleplus">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-google-plus fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @brand.metrics.where("google_plus_followers is NOT NULL").last.google_plus_followers %></div>
              <div>Followers</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- end of Social Media row -->
  </div>

<div class="chart chart-facebook">
  <%= line_chart Brand.group_by_day(:created_at).count %>
</div>

    <!-- <div id="stadia"><%= image_tag "Football/Stadia/#{@brand.stadium}.png" %>
  </div> -->

  <!-- <div id="map">
  </div> -->

  <table class="table table-striped">
  	<tbody>
  	<tr><td>Club Logo:</td><td><%= image_tag @brand.logo.url(:thumb) %></td></tr>
  	<tr><td>Website:</td><td><%= @brand.website%></td></tr>
  	<tr><td>Social Media:</td>
  	        <td><% if @brand.facebook_url? %>
                    <%= link_to (image_tag "logos/facebooklogo.png"), @brand.facebook_url %>
                <% end %>
                <% if @brand.twitter_url? %>
                    <%= link_to (image_tag "logos/twitterlogo.png"), @brand.twitter_url %>
                <% end %>
                <% if @brand.youtube_url? %>
                    <%= link_to (image_tag "logos/youtubelogo.png"), @brand.youtube_url %>
                <% end %>
                <% if @brand.google_plus? %>
                    <%= link_to (image_tag "logos/googlepluslogo.png"), @brand.google_plus %>
                <% end %>
                <% if @brand.flickr_url? %>
                    <%= link_to (image_tag "logos/flickrlogo.png"), @brand.flickr_url %>
                <% end %>
                <% if @brand.instagram_url? %>
                    <%= link_to (image_tag "logos/instagramlogo.png"), @brand.instagram_url %>
                <% end %>
                <% if @brand.pinterest_url? %>
                    <%= link_to (image_tag "logos/pinterestlogo.png"), @brand.pinterest_url %>
                <% end %>
                <% if @brand.linkedin_url? %>
                    <%= link_to (image_tag "logos/linkedinlogo.png"), @brand.linkedin_url %>
                <% end %>               
                <% if @brand.wikipedia_url? %>
                    <%= link_to (image_tag "logos/wikipedialogo.png"), @brand.wikipedia_url %>
                <% end %>
          </td>
  	</tr>
    <% if @brand.fb_joined? %>
  	<tr><td>Joined Facebook:</td><td><%= @brand.fb_joined %> (<%= (Date.today - @brand.fb_joined).to_i %> days ago)</td></tr>
    <% end %>
    <% if @brand.twitter_joined? %>
  	<tr><td>Joined Twitter:</td><td><%= @brand.twitter_joined %> (<%= (Date.today - @brand.twitter_joined).to_i %> days ago)</td></tr>
    <% end %>
    <% if @brand.yt_joined? %>
  	<tr><td>Joined Youtube:</td><td><%= @brand.yt_joined %> (<%= (Date.today - @brand.yt_joined).to_i %> days ago)</td></tr>
    <% end %>
  	<tr><td>Sport:</td><td><%= @brand.sport%></td></tr>
  	<tr><td>League:</td><td><%= @brand.league%></td></tr>
  	<tr><td>Country:</td><td><%= @brand.country %><% if @brand.country == "SCO" %> <%= image_tag "flags/sco.png" %><% else %> <%= image_tag "flags/#{@brand.country}.png" %>
          <% end %>
      	</td>
  	</tr>	
  	<tr><td>Stadium:</td><td><%= @brand.stadium%></td></tr>
  	<tr><td>Stadium Capacity:</td><td><%= @brand.stadium_capacity%></td></tr>
  	<tr><td>Brand colours:</td><td><div id="hex1"></div><div id="hex2"></div><div id="hex3"></div></td></tr>
  	</tbody>
  </table>

       <script>
        function initialize() {
          var mapCanvas = document.getElementById('map');
          var mapOptions = {
            center: new google.maps.LatLng(<%=@brand.lat%>, <%=@brand.long%>),
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          var map = new google.maps.Map(mapCanvas, mapOptions)
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>

  <script>
  $(document).ready(function(){
    $('h1').css("background-color", "black");
    $('#hex1').css("border", "3px");
  });
  </script>

  <%= link_to "Back", brands_path %>
  <%= link_to "Edit", edit_brand_path(@brand) %>

  <p><%= link_to "Download PDF", brand_path(@brand, format: "pdf") %></p>
</div>