<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= content_for?(:title) ? yield(:title) : "Quiz" %></title>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "jquery-1.11.2.min.js", "highcharts", "highcharts-themes.js" %>
    <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" %>
<!--    <%= javascript_include_tag '//www.google.com/jsapi' %> -->
    <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js" %>
    
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
    <!-- For pages rendering maps -->
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>

  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><%= image_tag "logos/authoritaslogocropped.png" %></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Dashboard", root_path %></li>
            <li><%= link_to "Quizzes", quizzs_path  %></li>
            <li><%= link_to "Questions", questions_path  %></li>
            <li><%= link_to "Companies", companies_path %></li>
            <li><%= link_to "Users", users_path  %></li>
            <li><%= link_to "Articles", articles_path  %></li>
            <li><%= link_to "Brands", brands_path  %></li>
            <li><%= link_to "Book Reviews", brands_path  %></li>
            <li><%= link_to "Admin", "/admin"  %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>&copy; Company 2015</p>
            </div>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
